@schemaPrimary: #7E6EAF;
@schemaDark: #23115A;
@schemaGray: #5D5773;
@schemaLight: #A798D5;
@schemaBright: #B2A7D5;

.rounded-corners (@radiusTopLeft: 4px, @radiusTopRight: 4px, @radiusBottomRight: 4px, @radiusBottomLeft: 4px) {
	-moz-border-radius: @radiusTopLeft @radiusTopRight @radiusBottomRight @radiusBottomLeft;
	-webkit-border-radius: @radiusTopLeft @radiusTopRight @radiusBottomRight @radiusBottomLeft;
	border-radius: @radiusTopLeft @radiusTopRight @radiusBottomRight @radiusBottomLeft;
}

.border (@thickness: 1px) {
	border: @thickness solid @schemaDark;
}

.taskList {
	margin: 0.2em;
	.border;
	.rounded-corners;
	background-color: @schemaGray; 
}

.taskListHeader {
	border-bottom: 1px solid @schemaDark;
	.rounded-corners(4px, 4px, 0px, 0px);
	background-color: @schemaBright;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.2em;
}

.taskItem {
	margin: 0.2em;
	.border;
	.rounded-corners;
	background-color: @schemaBright;
}

.taskHeader {
	font-size: 1em;
	font-weight: bold;
	padding: 0.2em;
}

.taskHeader:hover{ 
	background-color: @schemaLight;
	cursor: pointer;
}

.taskBody {
	display: none;
}