.taskList {
	margin: 0.2em;
	border: 1px solid #23115A;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #5D5773; 
}

.taskListHeader {
	border-bottom: 1px solid #23115A;
	border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	background-color: #B2A7D5;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.2em;
}

.taskItem {
	margin: 0.2em;
	border: 1px solid #23115A;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #B2A7D5;
}

.taskHeader {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 1em;
	font-weight: bold;
	padding: 0.2em;
}

.taskHeader:hover{ 
	background-color: #A798D5;
	cursor: pointer;
}

.taskBody {
	display: none;
}